.App {
  text-align: center;
}

html {
  font-size: 1em;
}
@media only screen and (max-width: 576px) {
  html {
    font-size: 0.7em;
  }
}

.form-control {
  border: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}



.Img-bank {
  height: 100%;
  width: 20%;
}

.App-intro {
  font-size: large;
}

.Small-text {
  font-size: 0.7em
}

.Container-Empty {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.h-rest {
  height: calc(100vh - 100px);
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

.Left-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


.Color {
  background-color: yellow;
}

.ColorGray {
  background-color: #4F5054;
}

.whiteColor {
  color: white;
}

.ColorYellow {
  background-color: yellow;
  color: black;
}

.btn-yellow {
  background-color: yellow;
  color: black;
  border: none
}
.btn-whiteLink {
  color: white;
  background-color: transparent;
  
}
.btn-whiteLink:hover {
  color: #D3D3D3;
  text-decoration: underline;
  background-color: transparent;
  
}


.border-yellow {
  border: 1px solid yellow;
}


.ColorWhite {
  margin-bottom: 50px!important;
  background-color: white;
}

.H80 {
  height: 70%;
  overflow: hidden;
}
.H40 {
  height: 60%!important;
  overflow: hidden;
}

.h-5 {
  height: 5%!important;  
}
.h-10 {
  height: 10%!important;  
}
.h-20 {
  height: 20%!important;  
}
.h-30 {
  height: 30%!important;  
}
.h-40 {
  height: 40%!important;  
}
.h-60 {
  height: 60%!important;  
}
.h-70 {
  height: 70%!important;  
}
.h-80 {
  height: 80%!important;  
}
.h-90 {
  height: 88%!important;  
}
.h-95 {
  height: 95%!important;  
}
.h-auto {
  height: auto;
}

.max-width-50 {
  max-width: 50%;
}

.width-exact-50 {
  max-width: 50%;
  min-width: 50%;
}
.width-exact-10 {
  max-width: 10%;
  min-width: 10%;
}
.width-exact-40 {
  max-width: 40%;
  min-width: 40%;
}

.bold {
  font-weight: bold;
}

.readHtmlDocument {
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 3%;
  max-height: 200px;
}


#BankRecomanded {
  position: absolute;
  font-weight: bold;
  font-size: 2em;
  left: -10px;
  width: 20%;
  margin-bottom: -10px;
  margin-right: 4px;
}

#Ah {
  height: 100%;
  margin-left: 3px;
}

/* Standard syntax */
@keyframes mymove {
  0% {margin-left: 0%;}
  100% {margin-left: -100%;}
}

.font-normal {
  font-size: 1em;
}

.font-small {
  font-size: 0.7em;
}

.Header-Size {
  overflow: hidden;
  height: 50px;
}

.Header-Image {
  width: 60px;
}

.Opacity {
  opacity: 0.4;
  width: 175px;
}

/* Overflow */
.O-X {
  overflow-x: hidden; 
}

.O-Y {
  overflow-y: hidden; 
}
.O-XS {
  overflow-x: scroll; 
}

.W-SS {
  min-width: 2px;
}

.H-SS {
  min-height: 2px;
}

/* p-marg product margin */
.p-marg {
  margin: 4px 4px 6px 4px;
}

#pMarg:hover {
  margin: 0px 0px 0px 0px;
  background-color: yellow;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.AppTest {
  box-sizing: border-box;
  width: calc(100% - 550px);
}

#Right {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
#Left {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: auto;    
}

:root {
  --rWidth: 300px;
  --lWidth: calc(100% - var(--rWidth));
  --tpWidth: 300px;
  --toHeight: 450px;

}

#Right  {
  width: var(--rWidth);
  max-width: var(--rWidth);
  min-width: var(--rWidth);
  height: none;
  box-sizing: 'border-box';
}

#Left {
  width: calc(100% - var(--rWidth));
  max-width: calc(100% - var(--rWidth));
  min-width: calc(100% - var(--rWidth));
  height: none;
  box-sizing: border-box;
}

#UpLeft {
  width: 100%;
  height: var(--toHeight);
  min-height: var(--toHeight);
  max-height: var(--toHeight);
  box-sizing: border-box;  
}

#TopOffersChild {
  width: var(--tpWidth);
  max-width: var(--tpWidth);
  min-width: var(--tpWidth);
  height: var(--toHeight);
  min-height: var(--toHeight);
  max-height: var(--toHeight);
  box-sizing: border-box;
}

#TOLoyalti  {
  width: calc(100% - var(--tpWidth));
  max-width: calc(100% - var(--tpWidth));
  min-width: calc(100% - var(--tpWidth));
  box-sizing: border-box;
}

#BasketSaldo {
  height: 55px;
  min-height: 55px;
  max-height: 55px;
  box-sizing: border-box;  
  
}

.F {
  display: inline;
  height: 100%;
  align-items: center;
  text-align: right;
}

#TopOffer {
  display: flex;
  flex-direction: row;
  height: var(--toHeight);
  min-height: var(--toHeight);
  max-height: var(--toHeight);
  box-sizing: border-box;
}

#BasketImage {
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  box-sizing: border-box;  
}

.otherGroupProduct {
  height: calc(var(--toHeight) / 2);
  min-height: calc(var(--toHeight) / 2);
  max-height: calc(var(--toHeight) / 2);
  
}

#SearchPage {
  width: calc(100% - var(--rWidth));
  max-width: calc(100% - var(--rWidth));
  min-width: calc(100% - var(--rWidth));
  height: none;
  box-sizing: border-box;

}

@media only screen and (max-width: 646px) {
  #Right {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  #Left {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;    
    box-sizing: border-box;
    }
  #TopOffersChild {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: var(--toHeight);
    min-height: var(--toHeight);
    max-height: var(--toHeight);
    box-sizing: border-box;
  }
  #TOLoyalti  {
    display: flex;
    flex-direction: column;    
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: var(--toHeight);
    min-height: var(--toHeight);
    max-height: var(--toHeight);
    box-sizing: border-box;
    border: 1px solid yellow;
  }
  #TopOffer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    max-height: none;
    min-height: none;
    box-sizing: border-box;
  }
  #UpLeft {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    max-height: none;
    min-height: none;
    box-sizing: border-box;  
  }
      
}

